In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [ ]:
# Import a Dataset and Analyze the type of its variables

# categorical(Nominal or Ordinal)

In [2]:
adult=pd.read_csv('adult_data.csv')
adult.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
adult.tail()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
adult.shape

(48842, 15)

In [5]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [6]:
adult.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
adult.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [8]:
cat_col=adult.select_dtypes(include='object').columns
print("cat column",cat_col)

cat column Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

In [9]:
num_col=adult.select_dtypes(include='number').columns
print("num column",num_col)

num column Index(['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')

In [10]:
# create dataframe only for categorical data
adult=adult[cat_col]

In [11]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       48842 non-null  object
 1   education       48842 non-null  object
 2   marital-status  48842 non-null  object
 3   occupation      48842 non-null  object
 4   relationship    48842 non-null  object
 5   race            48842 non-null  object
 6   gender          48842 non-null  object
 7   native-country  48842 non-null  object
 8   income          48842 non-null  object
dtypes: object(9)
memory usage: 3.4+ MB

In [12]:
# handle missing data
for col in cat_col:
 adult[col].fillna(adult[col].mode()[0], inplace=True)

In [13]:
adult.isnull().sum()

workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
native-country    0
income            0
dtype: int64

In [14]:
# convert to categorydata type
for col in cat_col:
    adult[col]=adult[col].astype('category')

In [15]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       48842 non-null  category
 1   education       48842 non-null  category
 2   marital-status  48842 non-null  category
 3   occupation      48842 non-null  category
 4   relationship    48842 non-null  category
 5   race            48842 non-null  category
 6   gender          48842 non-null  category
 7   native-country  48842 non-null  category
 8   income          48842 non-null  category
dtypes: category(9)
memory usage: 433.5 KB

In [ ]:
# Train Test Split Data

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x=adult.drop('income',axis=1)
y=adult['income']

In [18]:
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
 # Label Encoding Target Variable

In [19]:
y_train.unique()

['<=50K', '>50K']
Categories (2, object): ['<=50K', '>50K']

In [20]:
y_train.value_counts().to_dict()

{'<=50K': 29676, '>50K': 9397}

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le_target=LabelEncoder()

In [23]:
# Fit and transform the 'income' target column
y_train_encoded = le_target.fit_transform(y_train)

In [ ]:
# Check the encoded DataFrame

In [24]:
print("target classes after encoding",np.unique(y_train_encoded))

target classes after encoding [0 1]

In [ ]:
# Ordinal Encoding for Ordinal Data

In [25]:
# Check for unique values 
adult_columns = adult.columns.tolist()
for column in adult_columns:
    print(f"{column} unique values : {adult[column].unique()}")

workclass unique values : ['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov', 'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked']
Categories (9, object): ['?', 'Federal-gov', 'Local-gov', 'Never-worked', ..., 'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay']
education unique values : ['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th', ..., 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool']
Length: 16
Categories (16, object): ['10th', '11th', '12th', '1st-4th', ..., 'Masters', 'Preschool', 'Prof-school', 'Some-college']
marital-status unique values : ['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced', 'Separated', 'Married-spouse-absent', 'Married-AF-spouse']
Categories (7, object): ['Divorced', 'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed']
occupation unique values : ['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?', 'Other-service', ..., 'Sales', 'Priv-house-serv', 'Transport-moving', 'Handlers-cleaners', 'Armed-Forces']
Length: 15
Categories (15, object): ['?', 'Adm-clerical', 'Armed-Forces', 'Craft-repair', ..., 'Protective-serv', 'Sales', 'Tech-support', 'Transport-moving']
relationship unique values : ['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife', 'Other-relative']
Categories (6, object): ['Husband', 'Not-in-family', 'Other-relative', 'Own-child', 'Unmarried', 'Wife']
race unique values : ['Black', 'White', 'Asian-Pac-Islander', 'Other', 'Amer-Indian-Eskimo']
Categories (5, object): ['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White']
gender unique values : ['Male', 'Female']
Categories (2, object): ['Female', 'Male']
native-country unique values : ['United-States', '?', 'Peru', 'Guatemala', 'Mexico', ..., 'Greece', 'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France', 'Holand-Netherlands']
Length: 42
Categories (42, object): ['?', 'Cambodia', 'Canada', 'China', ..., 'Trinadad&Tobago', 'United-States', 'Vietnam', 'Yugoslavia']
income unique values : ['<=50K', '>50K']
Categories (2, object): ['<=50K', '>50K']

In [26]:
# View categories
categories = x_train['education'].cat.categories
print("\nCategories:\n", categories)

Categories:
 Index(['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th',
       'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Doctorate', 'HS-grad',
       'Masters', 'Preschool', 'Prof-school', 'Some-college'],
      dtype='object')

In [27]:
# View categories
categories = x_train['workclass'].cat.categories
print("\nCategories:\n", categories)

Categories:
 Index(['?', 'Federal-gov', 'Local-gov', 'Never-worked', 'Private',
       'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay'],
      dtype='object')

In [28]:
# Check if the categorical data is ordered
is_ordered = x_train['education'].cat.ordered
print("\nIs ordered:", is_ordered)

Is ordered: False

In [29]:
# Check if the categorical data is ordered
is_ordered = x_train['workclass'].cat.ordered
print("\nIs ordered:", is_ordered)

Is ordered: False

In [30]:
# logical order for education levels
education_order = [
    'Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th',
    'HS-grad', 'Some-college', 'Assoc-acdm', 'Assoc-voc', 'Bachelors', 'Masters',
    'Doctorate', 'Prof-school'
]

In [31]:
adult.education.value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

In [32]:
adult.education.value_counts().to_dict()

{'HS-grad': 15784,
 'Some-college': 10878,
 'Bachelors': 8025,
 'Masters': 2657,
 'Assoc-voc': 2061,
 '11th': 1812,
 'Assoc-acdm': 1601,
 '10th': 1389,
 '7th-8th': 955,
 'Prof-school': 834,
 '9th': 756,
 '12th': 657,
 'Doctorate': 594,
 '5th-6th': 509,
 '1st-4th': 247,
 'Preschool': 83}

In [ ]:
# logical order for workclass levels

In [33]:
adult.workclass.value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [34]:
adult.workclass.value_counts().to_dict()

{'Private': 33906,
 'Self-emp-not-inc': 3862,
 'Local-gov': 3136,
 '?': 2799,
 'State-gov': 1981,
 'Self-emp-inc': 1695,
 'Federal-gov': 1432,
 'Without-pay': 21,
 'Never-worked': 10}

In [35]:
 x_train['education'] =x_train['education'].cat.reorder_categories(education_order, ordered=True)

In [36]:
#  Create an ordinal encoder using the category dtype with an ordered list
adult['education'] = pd.Categorical(adult['education'], categories=education_order, ordered=True).codes

In [37]:
from sklearn.preprocessing import OrdinalEncoder

In [38]:
# Create an instance of OrdinalEncoder with the specified order
ordinal_encoder = OrdinalEncoder(categories=[education_order])

In [39]:
x_train['education'].head()

37193    Some-college
31093            10th
33814         HS-grad
14500         HS-grad
23399       Assoc-voc
Name: education, dtype: category
Categories (16, object): ['Preschool' < '1st-4th' < '5th-6th' < '7th-8th' ... 'Bachelors' < 'Masters' < 'Doctorate' < 'Prof-school']

In [40]:
# Fit and transform the ordinal columns
ordinal_columns=  ['education']
ordinal_encoder.fit(x_train[ordinal_columns])
x_train[ordinal_columns]=ordinal_encoder.transform(x_train[ordinal_columns])

In [41]:
x_train['education'].head()

37193     9.0
31093     5.0
33814     8.0
14500     8.0
23399    11.0
Name: education, dtype: float64

In [42]:
print(ordinal_encoder.categories_)

[array(['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th',
       '11th', '12th', 'HS-grad', 'Some-college', 'Assoc-acdm',
       'Assoc-voc', 'Bachelors', 'Masters', 'Doctorate', 'Prof-school'],
      dtype=object)]

In [ ]:
# One Hot Encoding for Nominal Variables

In [45]:
nominal_columns=['workclass',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'gender',
 'native-country']

In [46]:
x_train[nominal_columns].describe()

,workclass,marital-status,occupation,relationship,race,gender,native-country
count,39073,39073,39073,39073,39073,39073,39073
unique,9,7,15,6,5,2,42
top,Private,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States
freq,27122,17974,4915,15869,33474,26139,35081

In [47]:
print(adult.columns)

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

In [48]:
x_train[nominal_columns].describe()

,workclass,marital-status,occupation,relationship,race,gender,native-country
count,39073,39073,39073,39073,39073,39073,39073
unique,9,7,15,6,5,2,42
top,Private,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States
freq,27122,17974,4915,15869,33474,26139,35081

In [49]:
adult.isnull().sum()

workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
native-country    0
income            0
dtype: int64

In [ ]:
#using pandas
# oh_encoded_df = pd.get_dummies(X_train[nominal_columns],dtype='int',drop_first=True)
# oh_encoded_df = pd.get_dummies(X_train[nominal_columns],drop_first=True)

# oh_encoded_df.info()

In [50]:
from sklearn.preprocessing import OneHotEncoder
# Initialize the encoder
ohe = OneHotEncoder(handle_unknown='ignore')

In [52]:
#Fit and transform the data
encoded_matrix = ohe.fit_transform(x_train[nominal_columns])

type(encoded_matrix)

scipy.sparse._csr.csr_matrix

In [54]:
from scipy.sparse import csr_matrix

In [55]:
scipy.sparse._csr.csr_matrix

NameError: name 'scipy' is not defined

In [56]:
# Get feature names
feature_names = ohe.get_feature_names_out(nominal_columns)
print(feature_names)

['workclass_?' 'workclass_Federal-gov' 'workclass_Local-gov'
 'workclass_Never-worked' 'workclass_Private' 'workclass_Self-emp-inc'
 'workclass_Self-emp-not-inc' 'workclass_State-gov'
 'workclass_Without-pay' 'marital-status_Divorced'
 'marital-status_Married-AF-spouse' 'marital-status_Married-civ-spouse'
 'marital-status_Married-spouse-absent' 'marital-status_Never-married'
 'marital-status_Separated' 'marital-status_Widowed' 'occupation_?'
 'occupation_Adm-clerical' 'occupation_Armed-Forces'
 'occupation_Craft-repair' 'occupation_Exec-managerial'
 'occupation_Farming-fishing' 'occupation_Handlers-cleaners'
 'occupation_Machine-op-inspct' 'occupation_Other-service'
 'occupation_Priv-house-serv' 'occupation_Prof-specialty'
 'occupation_Protective-serv' 'occupation_Sales' 'occupation_Tech-support'
 'occupation_Transport-moving' 'relationship_Husband'
 'relationship_Not-in-family' 'relationship_Other-relative'
 'relationship_Own-child' 'relationship_Unmarried' 'relationship_Wife'
 'race_Amer-Indian-Eskimo' 'race_Asian-Pac-Islander' 'race_Black'
 'race_Other' 'race_White' 'gender_Female' 'gender_Male'
 'native-country_?' 'native-country_Cambodia' 'native-country_Canada'
 'native-country_China' 'native-country_Columbia' 'native-country_Cuba'
 'native-country_Dominican-Republic' 'native-country_Ecuador'
 'native-country_El-Salvador' 'native-country_England'
 'native-country_France' 'native-country_Germany' 'native-country_Greece'
 'native-country_Guatemala' 'native-country_Haiti'
 'native-country_Holand-Netherlands' 'native-country_Honduras'
 'native-country_Hong' 'native-country_Hungary' 'native-country_India'
 'native-country_Iran' 'native-country_Ireland' 'native-country_Italy'
 'native-country_Jamaica' 'native-country_Japan' 'native-country_Laos'
 'native-country_Mexico' 'native-country_Nicaragua'
 'native-country_Outlying-US(Guam-USVI-etc)' 'native-country_Peru'
 'native-country_Philippines' 'native-country_Poland'
 'native-country_Portugal' 'native-country_Puerto-Rico'
 'native-country_Scotland' 'native-country_South' 'native-country_Taiwan'
 'native-country_Thailand' 'native-country_Trinadad&Tobago'
 'native-country_United-States' 'native-country_Vietnam'
 'native-country_Yugoslavia']

In [57]:
# # Convert sparse matrix to DataFrame
encoded_adult = pd.DataFrame(encoded_matrix.toarray(), columns=feature_names)
encoded_adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39073 entries, 0 to 39072
Data columns (total 86 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   workclass_?                                39073 non-null  float64
 1   workclass_Federal-gov                      39073 non-null  float64
 2   workclass_Local-gov                        39073 non-null  float64
 3   workclass_Never-worked                     39073 non-null  float64
 4   workclass_Private                          39073 non-null  float64
 5   workclass_Self-emp-inc                     39073 non-null  float64
 6   workclass_Self-emp-not-inc                 39073 non-null  float64
 7   workclass_State-gov                        39073 non-null  float64
 8   workclass_Without-pay                      39073 non-null  float64
 9   marital-status_Divorced                    39073 non-null  float64
 10  marital-status_Married-AF-spouse           39073 non-null  float64
 11  marital-status_Married-civ-spouse          39073 non-null  float64
 12  marital-status_Married-spouse-absent       39073 non-null  float64
 13  marital-status_Never-married               39073 non-null  float64
 14  marital-status_Separated                   39073 non-null  float64
 15  marital-status_Widowed                     39073 non-null  float64
 16  occupation_?                               39073 non-null  float64
 17  occupation_Adm-clerical                    39073 non-null  float64
 18  occupation_Armed-Forces                    39073 non-null  float64
 19  occupation_Craft-repair                    39073 non-null  float64
 20  occupation_Exec-managerial                 39073 non-null  float64
 21  occupation_Farming-fishing                 39073 non-null  float64
 22  occupation_Handlers-cleaners               39073 non-null  float64
 23  occupation_Machine-op-inspct               39073 non-null  float64
 24  occupation_Other-service                   39073 non-null  float64
 25  occupation_Priv-house-serv                 39073 non-null  float64
 26  occupation_Prof-specialty                  39073 non-null  float64
 27  occupation_Protective-serv                 39073 non-null  float64
 28  occupation_Sales                           39073 non-null  float64
 29  occupation_Tech-support                    39073 non-null  float64
 30  occupation_Transport-moving                39073 non-null  float64
 31  relationship_Husband                       39073 non-null  float64
 32  relationship_Not-in-family                 39073 non-null  float64
 33  relationship_Other-relative                39073 non-null  float64
 34  relationship_Own-child                     39073 non-null  float64
 35  relationship_Unmarried                     39073 non-null  float64
 36  relationship_Wife                          39073 non-null  float64
 37  race_Amer-Indian-Eskimo                    39073 non-null  float64
 38  race_Asian-Pac-Islander                    39073 non-null  float64
 39  race_Black                                 39073 non-null  float64
 40  race_Other                                 39073 non-null  float64
 41  race_White                                 39073 non-null  float64
 42  gender_Female                              39073 non-null  float64
 43  gender_Male                                39073 non-null  float64
 44  native-country_?                           39073 non-null  float64
 45  native-country_Cambodia                    39073 non-null  float64
 46  native-country_Canada                      39073 non-null  float64
 47  native-country_China                       39073 non-null  float64
 48  native-country_Columbia                    39073 non-null  float64
 49  native-country_Cuba                        39073 non-null  float64
 50  native-country_Dominican-Republic          39073 non-null  float64
 51  native-country_Ecuador                     39073 non-null  float64
 52  native-country_El-Salvador                 39073 non-null  float64
 53  native-country_England                     39073 non-null  float64
 54  native-country_France                      39073 non-null  float64
 55  native-country_Germany                     39073 non-null  float64
 56  native-country_Greece                      39073 non-null  float64
 57  native-country_Guatemala                   39073 non-null  float64
 58  native-country_Haiti                       39073 non-null  float64
 59  native-country_Holand-Netherlands          39073 non-null  float64
 60  native-country_Honduras                    39073 non-null  float64
 61  native-country_Hong                        39073 non-null  float64
 62  native-country_Hungary                     39073 non-null  float64
 63  native-country_India                       39073 non-null  float64
 64  native-country_Iran                        39073 non-null  float64
 65  native-country_Ireland                     39073 non-null  float64
 66  native-country_Italy                       39073 non-null  float64
 67  native-country_Jamaica                     39073 non-null  float64
 68  native-country_Japan                       39073 non-null  float64
 69  native-country_Laos                        39073 non-null  float64
 70  native-country_Mexico                      39073 non-null  float64
 71  native-country_Nicaragua                   39073 non-null  float64
 72  native-country_Outlying-US(Guam-USVI-etc)  39073 non-null  float64
 73  native-country_Peru                        39073 non-null  float64
 74  native-country_Philippines                 39073 non-null  float64
 75  native-country_Poland                      39073 non-null  float64
 76  native-country_Portugal                    39073 non-null  float64
 77  native-country_Puerto-Rico                 39073 non-null  float64
 78  native-country_Scotland                    39073 non-null  float64
 79  native-country_South                       39073 non-null  float64
 80  native-country_Taiwan                      39073 non-null  float64
 81  native-country_Thailand                    39073 non-null  float64
 82  native-country_Trinadad&Tobago             39073 non-null  float64
 83  native-country_United-States               39073 non-null  float64
 84  native-country_Vietnam                     39073 non-null  float64
 85  native-country_Yugoslavia                  39073 non-null  float64
dtypes: float64(86)
memory usage: 25.6 MB

In [58]:
encoded_adult.head()

,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Divorced,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male,native-country_?,native-country_Cambodia,native-country_Canada,native-country_China,native-country_Columbia,native-country_Cuba,native-country_Dominican-Republic,native-country_Ecuador,native-country_El-Salvador,native-country_England,native-country_France,native-country_Germany,native-country_Greece,native-country_Guatemala,native-country_Haiti,native-country_Holand-Netherlands,native-country_Honduras,native-country_Hong,native-country_Hungary,native-country_India,native-country_Iran,native-country_Ireland,native-country_Italy,native-country_Jamaica,native-country_Japan,native-country_Laos,native-country_Mexico,native-country_Nicaragua,native-country_Outlying-US(Guam-USVI-etc),native-country_Peru,native-country_Philippines,native-country_Poland,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [59]:
# # Merge encoded DataFrame with original DataFrame
merged_x_train = pd.concat([x_train.reset_index(drop=True), encoded_adult], axis=1)

In [60]:
merged_x_train.head()

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Divorced,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male,native-country_?,native-country_Cambodia,native-country_Canada,native-country_China,native-country_Columbia,native-country_Cuba,native-country_Dominican-Republic,native-country_Ecuador,native-country_El-Salvador,native-country_England,native-country_France,native-country_Germany,native-country_Greece,native-country_Guatemala,native-country_Haiti,native-country_Holand-Netherlands,native-country_Honduras,native-country_Hong,native-country_Hungary,native-country_India,native-country_Iran,native-country_Ireland,native-country_Italy,native-country_Jamaica,native-country_Japan,native-country_Laos,native-country_Mexico,native-country_Nicaragua,native-country_Outlying-US(Guam-USVI-etc),native-country_Peru,native-country_Philippines,native-country_Poland,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,Private,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Self-emp-not-inc,5.0,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Local-gov,8.0,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Private,8.0,Never-married,Adm-clerical,Not-in-family,White,Female,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Private,11.0,Never-married,Transport-moving,Not-in-family,White,Male,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [61]:
# Drop the original columns from merged_X_train
merged_x_train = merged_x_train.drop(x_train[nominal_columns], axis=1)

In [62]:
merged_x_train.head()

,education,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Divorced,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male,native-country_?,native-country_Cambodia,native-country_Canada,native-country_China,native-country_Columbia,native-country_Cuba,native-country_Dominican-Republic,native-country_Ecuador,native-country_El-Salvador,native-country_England,native-country_France,native-country_Germany,native-country_Greece,native-country_Guatemala,native-country_Haiti,native-country_Holand-Netherlands,native-country_Honduras,native-country_Hong,native-country_Hungary,native-country_India,native-country_Iran,native-country_Ireland,native-country_Italy,native-country_Jamaica,native-country_Japan,native-country_Laos,native-country_Mexico,native-country_Nicaragua,native-country_Outlying-US(Guam-USVI-etc),native-country_Peru,native-country_Philippines,native-country_Poland,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,9.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,8.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,8.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,11.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
 # Apply Encoding To Unseen Data(Test Data Here)

In [ ]:
# target variable

In [63]:
y_test_encoded = le_target.transform(y_test)
y_test_encoded[:10]

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0])

In [64]:
# feature encoding
feature_encodings=[ordinal_encoder,ohe]

In [65]:
#ordinal encoding
x_test[ordinal_columns]=feature_encodings[0].transform(x_test[ordinal_columns])
x_test.head()

,workclass,education,marital-status,occupation,relationship,race,gender,native-country
7762,Private,8.0,Divorced,Other-service,Unmarried,White,Female,United-States
23881,Private,8.0,Married-civ-spouse,Transport-moving,Own-child,Other,Male,United-States
30507,Private,12.0,Divorced,Prof-specialty,Not-in-family,White,Female,United-States
28911,Private,8.0,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States
19484,Private,12.0,Married-civ-spouse,Sales,Wife,White,Female,United-States

In [ ]:
# one hot encoding

In [66]:
#Convert sparse matrix to DataFrame
encoded_test=ohe.transform(x_test[nominal_columns])
encoded_adult_test = pd.DataFrame(encoded_test.toarray(), columns=feature_names)

In [68]:
#Merge encoded DataFrame with original DataFrame
merged_x_test = pd.concat([x_test.reset_index(drop=True), encoded_adult_test], axis=1)
merged_x_test.head()

,workclass,education,marital-status,occupation,relationship,race,gender,native-country,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Divorced,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,marital-status_Married-spouse-absent,marital-status_Never-married,marital-status_Separated,marital-status_Widowed,occupation_?,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male,native-country_?,native-country_Cambodia,native-country_Canada,native-country_China,native-country_Columbia,native-country_Cuba,native-country_Dominican-Republic,native-country_Ecuador,native-country_El-Salvador,native-country_England,native-country_France,native-country_Germany,native-country_Greece,native-country_Guatemala,native-country_Haiti,native-country_Holand-Netherlands,native-country_Honduras,native-country_Hong,native-country_Hungary,native-country_India,native-country_Iran,native-country_Ireland,native-country_Italy,native-country_Jamaica,native-country_Japan,native-country_Laos,native-country_Mexico,native-country_Nicaragua,native-country_Outlying-US(Guam-USVI-etc),native-country_Peru,native-country_Philippines,native-country_Poland,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,Private,8.0,Divorced,Other-service,Unmarried,White,Female,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Private,8.0,Married-civ-spouse,Transport-moving,Own-child,Other,Male,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Private,12.0,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Private,8.0,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Private,12.0,Married-civ-spouse,Sales,Wife,White,Female,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0