In [1]:
import pandas as pd

In [9]:
cars_2_data=pd.read_csv('Cars_2_data.csv')
cars_2_data

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [10]:
cars_2_data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [11]:
cars_2_data.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [12]:
cars_2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [13]:
cars_2_data.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [14]:
cars_2_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [7]:
cars_data['car_ID'].mean()

103.0

In [15]:
cars_data['car_ID'].fillna(cars_data['car_ID'].mean(),inplace=True)

In [16]:
cars_data['symboling'].fillna(cars_data['symboling'].mean(),inplace=True)

In [17]:
cars_data['curbweight'].fillna(cars_data['curbweight'].mean(),inplace=True)

In [18]:
cars_data['horsepower'].fillna(cars_data['horsepower'].mean(),inplace=True)

In [19]:
cars_data['peakrpm'].fillna(cars_data['horsepower'].mean(),inplace=True)

In [20]:
cars_data['citympg'].fillna(cars_data['horsepower'].mean(),inplace=True)

In [21]:
cars_data['highwaympg'].fillna(cars_data['symboling'].mean(),inplace=True)

In [22]:
cars_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [23]:
cars_data['wheelbase'].fillna(cars_data['wheelbase'].mean(),inplace=True)

In [24]:
cars_data['carlength'].fillna(cars_data['carlength'].mean(),inplace=True)

In [25]:
cars_data['carwidth'].fillna(cars_data['carwidth'].mean(),inplace=True)

In [26]:
cars_data['carheight'].fillna(cars_data['carheight'].mean(),inplace=True)

In [27]:
cars_data['boreratio'].fillna(cars_data['boreratio'].mean(),inplace=True)

In [28]:
cars_data['stroke'].fillna(cars_data['stroke'].mean(),inplace=True)

In [29]:
cars_data['compressionratio'].fillna(cars_data['compressionratio'].mean(),inplace=True)

In [30]:
cars_data['price'].fillna(cars_data['price'].mean(),inplace=True)

In [31]:
cars_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [32]:
import numpy as np

In [33]:
Car_Name=cars_data['CarName'].mode()
Car_Name

0       peugeot 504
1    toyota corolla
2     toyota corona
Name: CarName, dtype: object

In [34]:
fuel_type=cars_data['fueltype'].mode()
fuel_type

0    gas
Name: fueltype, dtype: object

In [35]:
aspiration=cars_data['aspiration'].mode()
aspiration

0    std
Name: aspiration, dtype: object

In [36]:
door_number=cars_data['doornumber'].mode()
door_number

0    four
Name: doornumber, dtype: object

In [38]:
car_body =cars_data['carbody'].mode()
car_body

0    sedan
Name: carbody, dtype: object

In [39]:
drive_wheel =cars_data['drivewheel'].mode()
drive_wheel

0    fwd
Name: drivewheel, dtype: object

In [40]:
engine_type =cars_data['enginetype'].mode()
engine_type

0    ohc
Name: enginetype, dtype: object

In [41]:
cylinder_number =cars_data['cylindernumber'].mode()
cylinder_number

0    four
Name: cylindernumber, dtype: object

In [42]:
fuel_system =cars_data['fuelsystem'].mode()
fuel_system

0    mpfi
Name: fuelsystem, dtype: object

In [44]:
cars_data['CarName'].replace(np.nan,'peugeot 504',inplace=True)

In [45]:
cars_data['fueltype'].replace(np.nan,' gas',inplace=True)

In [46]:
cars_data['aspiration'].replace(np.nan,'std',inplace=True)

In [55]:
cars_data['doornumber'].replace(np.nan,'four',inplace=True)

In [48]:
cars_data['carbody'].replace(np.nan,'sedan',inplace=True)

In [49]:
cars_data['drivewheel'].replace(np.nan,'fwd',inplace=True)

In [50]:
cars_data['enginetype'].replace(np.nan,'ohc',inplace=True)

In [51]:
cars_data['cylindernumber'].replace(np.nan,' four',inplace=True)

In [52]:
cars_data['fuelsystem'].replace(np.nan,'mpfi',inplace=True)

In [53]:
cars_data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [54]:
cars_data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [56]:
cars_data['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [57]:
cars_data['fueltype'].unique()

array(['gas', 'diesel'], dtype=object)

In [58]:
cars_data['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [59]:
cars_data['doornumber'].unique()

array(['two', 'four'], dtype=object)

In [60]:
cars_data['drivewheel'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [61]:
cars_data['enginetype'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [62]:
cars_data['cylindernumber'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [64]:
cars_data['fuelsystem'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
encoder=LabelEncoder()

In [67]:
cars_data['labeled_carname']=encoder.fit_transform(cars_data['CarName'])

In [68]:
cars_data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,labeled_carname
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,2
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,3
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,1
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,4
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,5

In [69]:
cars_data.drop_duplicates('CarName')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,labeled_carname
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,2
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,3
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,1
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,4
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,197,-2,volvo 244dl,gas,std,four,sedan,rwd,front,104.3,...,mpfi,3.78,3.15,9.5,114,5400,24,28,15985.0,140
197,198,-1,volvo 245,gas,std,four,wagon,rwd,front,104.3,...,mpfi,3.78,3.15,9.5,114,5400,24,28,16515.0,141
198,199,-2,volvo 264gl,gas,turbo,four,sedan,rwd,front,104.3,...,mpfi,3.62,3.15,7.5,162,5100,17,22,18420.0,143
199,200,-1,volvo diesel,gas,turbo,four,wagon,rwd,front,104.3,...,mpfi,3.62,3.15,7.5,162,5100,17,22,18950.0,144
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,142

In [71]:
cars_data['labelled_fuel_type']=encoder.fit_transform(cars_data['fueltype'])

In [72]:
cars_data.drop_duplicates('fueltype')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,labeled_carname,labelled_fuel_type
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495.0,2,1
63,64,0,mazda glc deluxe,diesel,std,four,sedan,fwd,front,98.8,...,3.39,3.39,22.7,64,4650,36,42,10795.0,58,0

In [73]:
cars_data['labelled_aspiration']=encoder.fit_transform(cars_data['aspiration'])

In [74]:
cars_data.drop_duplicates('aspiration')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,labeled_carname,labelled_fuel_type,labelled_aspiration
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,13495.0,2,1,0
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,3.40,8.3,140,5500,17,20,23875.0,6,1,1

In [75]:
cars_data['labelled_door_number']=encoder.fit_transform(cars_data['doornumber'])

In [76]:
cars_data.drop_duplicates('doornumber')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,labeled_carname,labelled_fuel_type,labelled_aspiration,labelled_door_number
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000,21,27,13495.0,2,1,0,1
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,10.0,102,5500,24,30,13950.0,4,1,0,0

In [77]:
cars_data['labelled_car_body']=encoder.fit_transform(cars_data['carbody'])

In [78]:
cars_data.drop_duplicates('carbody')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,horsepower,peakrpm,citympg,highwaympg,price,labeled_carname,labelled_fuel_type,labelled_aspiration,labelled_door_number,labelled_car_body
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,111,5000,21,27,13495.0,2,1,0,1,0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,154,5000,19,26,16500.0,1,1,0,1,2
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,102,5500,24,30,13950.0,4,1,0,0,3
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,110,5500,19,25,18920.0,7,1,0,0,4
69,70,0,buick century,diesel,turbo,two,hardtop,rwd,front,106.7,...,123,4350,22,25,28176.0,16,0,1,1,1

In [79]:
cars_data['labelled_drive_wheel']=encoder.fit_transform(cars_data['drivewheel'])

In [80]:
cars_data.drop_duplicates('drivewheel')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,peakrpm,citympg,highwaympg,price,labeled_carname,labelled_fuel_type,labelled_aspiration,labelled_door_number,labelled_car_body,labelled_drive_wheel
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,5000,21,27,13495.0,2,1,0,1,0,2
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,5500,24,30,13950.0,4,1,0,0,3,1
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,5500,18,22,17450.0,5,1,0,0,3,0

In [81]:
cars_data['labelled_engine_location']=encoder.fit_transform(cars_data['enginelocation'])

In [82]:
cars_data.drop_duplicates('enginelocation')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,citympg,highwaympg,price,labeled_carname,labelled_fuel_type,labelled_aspiration,labelled_door_number,labelled_car_body,labelled_drive_wheel,labelled_engine_location
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,21,27,13495.0,2,1,0,1,0,2,0
126,127,3,porcshce panamera,gas,std,two,hardtop,rwd,rear,89.5,...,17,25,32528.0,95,1,0,1,1,2,1

In [83]:
cars_data['labelled_engine_type']=encoder.fit_transform(cars_data['enginetype'])

In [84]:
cars_data.drop_duplicates('enginetype')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,highwaympg,price,labeled_carname,labelled_fuel_type,labelled_aspiration,labelled_door_number,labelled_car_body,labelled_drive_wheel,labelled_engine_location,labelled_engine_type
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,27,13495.0,2,1,0,1,0,2,0,0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,26,16500.0,1,1,0,1,2,2,0,5
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,30,13950.0,4,1,0,0,3,1,0,3
18,19,2,chevrolet impala,gas,std,two,hatchback,fwd,front,88.4,...,53,5151.0,24,1,0,1,2,1,0,2
55,56,3,mazda 626,gas,std,two,hatchback,rwd,front,95.3,...,23,10945.0,53,1,0,1,2,2,0,6
126,127,3,porcshce panamera,gas,std,two,hardtop,rwd,rear,89.5,...,25,32528.0,95,1,0,1,1,2,1,4
129,130,1,porsche cayenne,gas,std,two,hatchback,rwd,front,98.4,...,28,31400.5,97,1,0,1,2,2,0,1

In [85]:
cars_data['labelled_cylinder_number']=encoder.fit_transform(cars_data['cylindernumber'])

In [86]:
cars_data.drop_duplicates('cylindernumber')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,price,labeled_carname,labelled_fuel_type,labelled_aspiration,labelled_door_number,labelled_car_body,labelled_drive_wheel,labelled_engine_location,labelled_engine_type,labelled_cylinder_number
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,13495.0,2,1,0,1,0,2,0,0,2
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,16500.0,1,1,0,1,2,2,0,5,3
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,17450.0,5,1,0,0,3,0,0,3,1
18,19,2,chevrolet impala,gas,std,two,hatchback,fwd,front,88.4,...,5151.0,24,1,0,1,2,1,0,2,4
49,50,0,jaguar xk,gas,std,two,sedan,rwd,front,102.0,...,36000.0,50,1,0,1,3,2,0,5,5
55,56,3,mazda 626,gas,std,two,hatchback,rwd,front,95.3,...,10945.0,53,1,0,1,2,2,0,6,6
71,72,-1,buick opel isuzu deluxe,gas,std,four,sedan,rwd,front,115.6,...,34184.0,20,1,0,0,3,2,0,5,0

In [87]:
cars_data['labelled_fuel_system']=encoder.fit_transform(cars_data['fuelsystem'])

In [88]:
cars_data.drop_duplicates('fuelsystem')

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,labeled_carname,labelled_fuel_type,labelled_aspiration,labelled_door_number,labelled_car_body,labelled_drive_wheel,labelled_engine_location,labelled_engine_type,labelled_cylinder_number,labelled_fuel_system
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,2,1,0,1,0,2,0,0,2,5
18,19,2,chevrolet impala,gas,std,two,hatchback,fwd,front,88.4,...,24,1,0,1,2,1,0,2,4,1
29,30,3,dodge coronet custom (sw),gas,turbo,two,hatchback,fwd,front,95.9,...,31,1,1,1,2,1,0,3,2,4
30,31,2,honda civic,gas,std,two,hatchback,fwd,front,86.6,...,39,1,0,1,2,1,0,3,2,0
46,47,2,isuzu D-Max,gas,std,two,hatchback,rwd,front,96.0,...,45,1,0,1,2,2,0,3,2,7
55,56,3,mazda 626,gas,std,two,hatchback,rwd,front,95.3,...,53,1,0,1,2,2,0,6,6,2
63,64,0,mazda glc deluxe,diesel,std,four,sedan,fwd,front,98.8,...,58,0,0,0,3,1,0,3,2,3
79,80,1,mitsubishi g4,gas,turbo,two,hatchback,fwd,front,93.0,...,63,1,1,1,2,1,0,3,2,6

In [89]:
x=cars_data.drop(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'], axis=1)
y=cars_data['price']

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [92]:
x_train.shape,x_test.shape,x.shape

((164, 10), (41, 10), (205, 10))

In [93]:
from sklearn.linear_model import LinearRegression

In [112]:
model=LinearRegression()

In [113]:
model.fit(x_train,y_train)

LinearRegression()

In [114]:
pred=model.predict(x_test)

In [115]:
from sklearn.metrics import r2_score

In [116]:
r2_score(y_test,pred)*100

63.10532287613392

In [100]:
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [101]:
mean_absolute_error(y_test,pred)

3446.404438972605

In [102]:
mean_squared_error(y_test,pred)

17886893.07165973

In [104]:
x.columns

Index(['labeled_carname', 'labelled_fuel_type', 'labelled_aspiration',
       'labelled_door_number', 'labelled_car_body', 'labelled_drive_wheel',
       'labelled_engine_location', 'labelled_engine_type',
       'labelled_cylinder_number', 'labelled_fuel_system'],
      dtype='object')