In [1]:
import pandas as pd

In [2]:
cars=pd.read_csv('Cars_2_data.csv')
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
cars.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
cars.shape

(205, 26)

In [6]:
cars.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [7]:
cars.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')>

In [8]:
cars.nunique()

car_ID              205
symboling             6
CarName             147
fueltype              2
aspiration            2
doornumber            2
carbody               5
drivewheel            3
enginelocation        2
wheelbase            53
carlength            75
carwidth             44
carheight            49
curbweight          171
enginetype            7
cylindernumber        7
enginesize           44
fuelsystem            8
boreratio            38
stroke               37
compressionratio     32
horsepower           59
peakrpm              23
citympg              29
highwaympg           30
price               189
dtype: int64

In [9]:
cars.drop('car_ID',axis=1,inplace=True)

In [10]:
cars['CarName'] = cars['CarName'].str.split(' ',n=1,expand=True)[0]
cars.rename(columns ={'CarName':'carcompany'},inplace=True)

In [11]:
cars.isnull().sum()

symboling           0
carcompany          0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [12]:
categorical_col=cars.select_dtypes(include='object').columns
print("categorical column",categorical_col)

categorical column Index(['carcompany', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber',
       'fuelsystem'],
      dtype='object')

In [13]:
num_col=cars.select_dtypes(include='number').columns
print("num column",num_col)

num column Index(['symboling', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [14]:
cars=cars[categorical_col]

In [15]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   carcompany      205 non-null    object
 1   fueltype        205 non-null    object
 2   aspiration      205 non-null    object
 3   doornumber      205 non-null    object
 4   carbody         205 non-null    object
 5   drivewheel      205 non-null    object
 6   enginelocation  205 non-null    object
 7   enginetype      205 non-null    object
 8   cylindernumber  205 non-null    object
 9   fuelsystem      205 non-null    object
dtypes: object(10)
memory usage: 16.1+ KB

In [16]:
# Check for unique values 
cars_column = cars.columns.tolist()
for column in cars_column:
    print(f"{column} unique values : {cars[column].unique()}")

carcompany unique values : ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'maxda' 'mazda' 'buick' 'mercury' 'mitsubishi' 'Nissan' 'nissan'
 'peugeot' 'plymouth' 'porsche' 'porcshce' 'renault' 'saab' 'subaru'
 'toyota' 'toyouta' 'vokswagen' 'volkswagen' 'vw' 'volvo']
fueltype unique values : ['gas' 'diesel']
aspiration unique values : ['std' 'turbo']
doornumber unique values : ['two' 'four']
carbody unique values : ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drivewheel unique values : ['rwd' 'fwd' '4wd']
enginelocation unique values : ['front' 'rear']
enginetype unique values : ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
cylindernumber unique values : ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
fuelsystem unique values : ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

In [17]:
num_col=cars.select_dtypes(include='number').columns
print("num column",num_col)

num column Index([], dtype='object')

In [18]:
cars.carcompany.value_counts().sort_index()

carcompany
Nissan          1
alfa-romero     3
audi            7
bmw             8
buick           8
chevrolet       3
dodge           9
honda          13
isuzu           4
jaguar          3
maxda           2
mazda          15
mercury         1
mitsubishi     13
nissan         17
peugeot        11
plymouth        7
porcshce        1
porsche         4
renault         2
saab            6
subaru         12
toyota         31
toyouta         1
vokswagen       1
volkswagen      9
volvo          11
vw              2
Name: count, dtype: int64

In [19]:
cars['carcompany'].replace({"maxda": "mazda", "porcshce": "porsche","toyouta": "toyota","vokswagen":"volkswagen",
                            "vw":"volkswagen","Nissan":"nissan"}, inplace=True)

In [20]:
cars2=pd.get_dummies(cars['fueltype'])

In [21]:
cars2

     diesel    gas
0     False   True
1     False   True
2     False   True
3     False   True
4     False   True
..      ...    ...
200   False   True
201   False   True
202   False   True
203    True  False
204   False   True

[205 rows x 2 columns]

In [22]:
cars=pd.concat([cars,cars2], axis=1).reindex(cars.index)
cars

,carcompany,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,diesel,gas
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,False,True
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,False,True
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,False,True
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,False,True
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi,False,True
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,False,True
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,False,True
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,True,False
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,False,True

In [23]:
cars.drop('fueltype',axis=1, inplace=True)
cars

,carcompany,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,diesel,gas
0,alfa-romero,std,two,convertible,rwd,front,dohc,four,mpfi,False,True
1,alfa-romero,std,two,convertible,rwd,front,dohc,four,mpfi,False,True
2,alfa-romero,std,two,hatchback,rwd,front,ohcv,six,mpfi,False,True
3,audi,std,four,sedan,fwd,front,ohc,four,mpfi,False,True
4,audi,std,four,sedan,4wd,front,ohc,five,mpfi,False,True
...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,std,four,sedan,rwd,front,ohc,four,mpfi,False,True
201,volvo,turbo,four,sedan,rwd,front,ohc,four,mpfi,False,True
202,volvo,std,four,sedan,rwd,front,ohcv,six,mpfi,False,True
203,volvo,turbo,four,sedan,rwd,front,ohc,six,idi,True,False
204,volvo,turbo,four,sedan,rwd,front,ohc,four,mpfi,False,True

In [24]:
cars2=pd.get_dummies(cars['aspiration'])

In [25]:
cars2

       std  turbo
0     True  False
1     True  False
2     True  False
3     True  False
4     True  False
..     ...    ...
200   True  False
201  False   True
202   True  False
203  False   True
204  False   True

[205 rows x 2 columns]

In [26]:
cars=pd.concat([cars,cars2], axis=1).reindex(cars.index)
cars

,carcompany,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo
0,alfa-romero,std,two,convertible,rwd,front,dohc,four,mpfi,False,True,True,False
1,alfa-romero,std,two,convertible,rwd,front,dohc,four,mpfi,False,True,True,False
2,alfa-romero,std,two,hatchback,rwd,front,ohcv,six,mpfi,False,True,True,False
3,audi,std,four,sedan,fwd,front,ohc,four,mpfi,False,True,True,False
4,audi,std,four,sedan,4wd,front,ohc,five,mpfi,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,std,four,sedan,rwd,front,ohc,four,mpfi,False,True,True,False
201,volvo,turbo,four,sedan,rwd,front,ohc,four,mpfi,False,True,False,True
202,volvo,std,four,sedan,rwd,front,ohcv,six,mpfi,False,True,True,False
203,volvo,turbo,four,sedan,rwd,front,ohc,six,idi,True,False,False,True
204,volvo,turbo,four,sedan,rwd,front,ohc,four,mpfi,False,True,False,True

In [27]:
cars.drop('aspiration',axis=1, inplace=True)
cars

,carcompany,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo
0,alfa-romero,two,convertible,rwd,front,dohc,four,mpfi,False,True,True,False
1,alfa-romero,two,convertible,rwd,front,dohc,four,mpfi,False,True,True,False
2,alfa-romero,two,hatchback,rwd,front,ohcv,six,mpfi,False,True,True,False
3,audi,four,sedan,fwd,front,ohc,four,mpfi,False,True,True,False
4,audi,four,sedan,4wd,front,ohc,five,mpfi,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,four,sedan,rwd,front,ohc,four,mpfi,False,True,True,False
201,volvo,four,sedan,rwd,front,ohc,four,mpfi,False,True,False,True
202,volvo,four,sedan,rwd,front,ohcv,six,mpfi,False,True,True,False
203,volvo,four,sedan,rwd,front,ohc,six,idi,True,False,False,True
204,volvo,four,sedan,rwd,front,ohc,four,mpfi,False,True,False,True

In [28]:
cars2=pd.get_dummies(cars['doornumber'])

In [29]:
cars2

      four    two
0    False   True
1    False   True
2    False   True
3     True  False
4     True  False
..     ...    ...
200   True  False
201   True  False
202   True  False
203   True  False
204   True  False

[205 rows x 2 columns]

In [30]:
cars=pd.concat([cars,cars2], axis=1).reindex(cars.index)
cars

,carcompany,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo,four,two
0,alfa-romero,two,convertible,rwd,front,dohc,four,mpfi,False,True,True,False,False,True
1,alfa-romero,two,convertible,rwd,front,dohc,four,mpfi,False,True,True,False,False,True
2,alfa-romero,two,hatchback,rwd,front,ohcv,six,mpfi,False,True,True,False,False,True
3,audi,four,sedan,fwd,front,ohc,four,mpfi,False,True,True,False,True,False
4,audi,four,sedan,4wd,front,ohc,five,mpfi,False,True,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,four,sedan,rwd,front,ohc,four,mpfi,False,True,True,False,True,False
201,volvo,four,sedan,rwd,front,ohc,four,mpfi,False,True,False,True,True,False
202,volvo,four,sedan,rwd,front,ohcv,six,mpfi,False,True,True,False,True,False
203,volvo,four,sedan,rwd,front,ohc,six,idi,True,False,False,True,True,False
204,volvo,four,sedan,rwd,front,ohc,four,mpfi,False,True,False,True,True,False

In [31]:
cars.drop('doornumber',axis=1, inplace=True)
cars

,carcompany,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo,four,two
0,alfa-romero,convertible,rwd,front,dohc,four,mpfi,False,True,True,False,False,True
1,alfa-romero,convertible,rwd,front,dohc,four,mpfi,False,True,True,False,False,True
2,alfa-romero,hatchback,rwd,front,ohcv,six,mpfi,False,True,True,False,False,True
3,audi,sedan,fwd,front,ohc,four,mpfi,False,True,True,False,True,False
4,audi,sedan,4wd,front,ohc,five,mpfi,False,True,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,sedan,rwd,front,ohc,four,mpfi,False,True,True,False,True,False
201,volvo,sedan,rwd,front,ohc,four,mpfi,False,True,False,True,True,False
202,volvo,sedan,rwd,front,ohcv,six,mpfi,False,True,True,False,True,False
203,volvo,sedan,rwd,front,ohc,six,idi,True,False,False,True,True,False
204,volvo,sedan,rwd,front,ohc,four,mpfi,False,True,False,True,True,False

In [32]:
cars2=pd.get_dummies(cars['enginelocation'])

In [33]:
cars2

     front   rear
0     True  False
1     True  False
2     True  False
3     True  False
4     True  False
..     ...    ...
200   True  False
201   True  False
202   True  False
203   True  False
204   True  False

[205 rows x 2 columns]

In [34]:
cars=pd.concat([cars,cars2], axis=1).reindex(cars.index)
cars

,carcompany,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo,four,two,front,rear
0,alfa-romero,convertible,rwd,front,dohc,four,mpfi,False,True,True,False,False,True,True,False
1,alfa-romero,convertible,rwd,front,dohc,four,mpfi,False,True,True,False,False,True,True,False
2,alfa-romero,hatchback,rwd,front,ohcv,six,mpfi,False,True,True,False,False,True,True,False
3,audi,sedan,fwd,front,ohc,four,mpfi,False,True,True,False,True,False,True,False
4,audi,sedan,4wd,front,ohc,five,mpfi,False,True,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,sedan,rwd,front,ohc,four,mpfi,False,True,True,False,True,False,True,False
201,volvo,sedan,rwd,front,ohc,four,mpfi,False,True,False,True,True,False,True,False
202,volvo,sedan,rwd,front,ohcv,six,mpfi,False,True,True,False,True,False,True,False
203,volvo,sedan,rwd,front,ohc,six,idi,True,False,False,True,True,False,True,False
204,volvo,sedan,rwd,front,ohc,four,mpfi,False,True,False,True,True,False,True,False

In [35]:
cars.drop('enginelocation',axis=1, inplace=True)
cars

,carcompany,carbody,drivewheel,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo,four,two,front,rear
0,alfa-romero,convertible,rwd,dohc,four,mpfi,False,True,True,False,False,True,True,False
1,alfa-romero,convertible,rwd,dohc,four,mpfi,False,True,True,False,False,True,True,False
2,alfa-romero,hatchback,rwd,ohcv,six,mpfi,False,True,True,False,False,True,True,False
3,audi,sedan,fwd,ohc,four,mpfi,False,True,True,False,True,False,True,False
4,audi,sedan,4wd,ohc,five,mpfi,False,True,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,sedan,rwd,ohc,four,mpfi,False,True,True,False,True,False,True,False
201,volvo,sedan,rwd,ohc,four,mpfi,False,True,False,True,True,False,True,False
202,volvo,sedan,rwd,ohcv,six,mpfi,False,True,True,False,True,False,True,False
203,volvo,sedan,rwd,ohc,six,idi,True,False,False,True,True,False,True,False
204,volvo,sedan,rwd,ohc,four,mpfi,False,True,False,True,True,False,True,False

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
# Creating a instance of Label Encoder
le=LabelEncoder()

In [ ]:
# using the .fit_transform function to fit the label
# encoder and return encoded label

In [38]:
label=le.fit_transform(cars['carbody'])

In [39]:
label

array([0, 0, 2, 3, 3, 3, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 3, 2,
       2, 2, 2, 3, 3, 3, 4, 2, 2, 2, 2, 2, 2, 3, 4, 2, 2, 3, 3, 3, 3, 3,
       3, 3, 2, 3, 3, 3, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3,
       3, 3, 4, 1, 3, 3, 0, 3, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3,
       3, 3, 3, 3, 3, 4, 3, 2, 3, 4, 1, 2, 3, 3, 4, 3, 2, 2, 2, 3, 3, 4,
       4, 3, 3, 4, 4, 3, 3, 3, 2, 2, 2, 3, 3, 4, 2, 2, 1, 1, 0, 2, 4, 2,
       2, 3, 2, 3, 2, 3, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 2, 2, 2, 4,
       4, 4, 3, 2, 3, 2, 3, 2, 3, 3, 2, 3, 2, 1, 1, 2, 1, 2, 0, 3, 3, 2,
       3, 2, 2, 2, 3, 4, 3, 3, 3, 3, 3, 3, 3, 0, 2, 3, 3, 4, 3, 4, 3, 4,
       3, 4, 3, 3, 3, 3, 3])

In [40]:
cars.drop('carbody',axis=1, inplace=True)

In [41]:
cars['carbody']=label

In [42]:
cars

,carcompany,drivewheel,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo,four,two,front,rear,carbody
0,alfa-romero,rwd,dohc,four,mpfi,False,True,True,False,False,True,True,False,0
1,alfa-romero,rwd,dohc,four,mpfi,False,True,True,False,False,True,True,False,0
2,alfa-romero,rwd,ohcv,six,mpfi,False,True,True,False,False,True,True,False,2
3,audi,fwd,ohc,four,mpfi,False,True,True,False,True,False,True,False,3
4,audi,4wd,ohc,five,mpfi,False,True,True,False,True,False,True,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,rwd,ohc,four,mpfi,False,True,True,False,True,False,True,False,3
201,volvo,rwd,ohc,four,mpfi,False,True,False,True,True,False,True,False,3
202,volvo,rwd,ohcv,six,mpfi,False,True,True,False,True,False,True,False,3
203,volvo,rwd,ohc,six,idi,True,False,False,True,True,False,True,False,3
204,volvo,rwd,ohc,four,mpfi,False,True,False,True,True,False,True,False,3

In [43]:
label=le.fit_transform(cars['drivewheel'])

In [44]:
label

array([2, 2, 2, 1, 0, 1, 1, 1, 1, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2])

In [45]:
cars.drop('drivewheel',axis=1, inplace=True)

In [46]:
cars['drivewheel']=label

In [47]:
cars

,carcompany,enginetype,cylindernumber,fuelsystem,diesel,gas,std,turbo,four,two,front,rear,carbody,drivewheel
0,alfa-romero,dohc,four,mpfi,False,True,True,False,False,True,True,False,0,2
1,alfa-romero,dohc,four,mpfi,False,True,True,False,False,True,True,False,0,2
2,alfa-romero,ohcv,six,mpfi,False,True,True,False,False,True,True,False,2,2
3,audi,ohc,four,mpfi,False,True,True,False,True,False,True,False,3,1
4,audi,ohc,five,mpfi,False,True,True,False,True,False,True,False,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,ohc,four,mpfi,False,True,True,False,True,False,True,False,3,2
201,volvo,ohc,four,mpfi,False,True,False,True,True,False,True,False,3,2
202,volvo,ohcv,six,mpfi,False,True,True,False,True,False,True,False,3,2
203,volvo,ohc,six,idi,True,False,False,True,True,False,True,False,3,2
204,volvo,ohc,four,mpfi,False,True,False,True,True,False,True,False,3,2

In [ ]:
# to continue ...with...enginetype,cylindernumber,and fuel system

In [48]:
label=le.fit_transform(cars['enginetype'])

In [49]:
label

array([0, 0, 5, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 0, 0, 5, 3, 3, 3, 3, 3, 6, 6, 6, 6, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 5, 5, 5, 5, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 5, 5, 5, 5, 5, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 1, 3, 3,
       3, 3, 3, 3, 0, 0, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 0, 0, 0, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 5, 3, 3])

In [50]:
cars.drop('enginetype',axis=1, inplace=True)

In [51]:
cars['enginetype']=label

In [52]:
cars

,carcompany,cylindernumber,fuelsystem,diesel,gas,std,turbo,four,two,front,rear,carbody,drivewheel,enginetype
0,alfa-romero,four,mpfi,False,True,True,False,False,True,True,False,0,2,0
1,alfa-romero,four,mpfi,False,True,True,False,False,True,True,False,0,2,0
2,alfa-romero,six,mpfi,False,True,True,False,False,True,True,False,2,2,5
3,audi,four,mpfi,False,True,True,False,True,False,True,False,3,1,3
4,audi,five,mpfi,False,True,True,False,True,False,True,False,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,four,mpfi,False,True,True,False,True,False,True,False,3,2,3
201,volvo,four,mpfi,False,True,False,True,True,False,True,False,3,2,3
202,volvo,six,mpfi,False,True,True,False,True,False,True,False,3,2,5
203,volvo,six,idi,True,False,False,True,True,False,True,False,3,2,3
204,volvo,four,mpfi,False,True,False,True,True,False,True,False,3,2,3

In [53]:
label=le.fit_transform(cars['cylindernumber'])

In [54]:
label

array([2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 3, 3, 5, 2, 2, 2, 2, 2, 6, 6, 6, 6, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 1, 1, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 3, 3, 2])

In [55]:
cars.drop('cylindernumber',axis=1, inplace=True)

In [56]:
cars['cylindernumber']=label

In [57]:
cars

,carcompany,fuelsystem,diesel,gas,std,turbo,four,two,front,rear,carbody,drivewheel,enginetype,cylindernumber
0,alfa-romero,mpfi,False,True,True,False,False,True,True,False,0,2,0,2
1,alfa-romero,mpfi,False,True,True,False,False,True,True,False,0,2,0,2
2,alfa-romero,mpfi,False,True,True,False,False,True,True,False,2,2,5,3
3,audi,mpfi,False,True,True,False,True,False,True,False,3,1,3,2
4,audi,mpfi,False,True,True,False,True,False,True,False,3,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,mpfi,False,True,True,False,True,False,True,False,3,2,3,2
201,volvo,mpfi,False,True,False,True,True,False,True,False,3,2,3,2
202,volvo,mpfi,False,True,True,False,True,False,True,False,3,2,5,3
203,volvo,idi,True,False,False,True,True,False,True,False,3,2,3,3
204,volvo,mpfi,False,True,False,True,True,False,True,False,3,2,3,2

In [58]:
label=le.fit_transform(cars['fuelsystem'])

In [59]:
label

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 1, 1, 1,
       1, 5, 1, 1, 1, 5, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 1, 1,
       1, 1, 7, 5, 5, 5, 1, 1, 1, 1, 1, 2, 2, 2, 5, 1, 1, 1, 1, 3, 1, 5,
       3, 3, 3, 3, 3, 5, 5, 5, 5, 5, 1, 1, 1, 6, 6, 1, 6, 6, 6, 1, 1, 6,
       6, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 3, 5,
       3, 5, 3, 5, 3, 5, 3, 5, 1, 6, 1, 1, 1, 1, 6, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 1, 1, 1, 1, 1, 5, 1, 5, 1, 5, 1, 5, 1, 1, 1, 1,
       1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 3, 5,
       5, 5, 5, 5, 5, 5, 3, 5, 3, 5, 5, 3, 5, 5, 5, 5, 3, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 3, 5])

In [60]:
cars.drop('fuelsystem',axis=1, inplace=True)

In [61]:
cars['fuelsystem']=label

In [62]:
cars

,carcompany,diesel,gas,std,turbo,four,two,front,rear,carbody,drivewheel,enginetype,cylindernumber,fuelsystem
0,alfa-romero,False,True,True,False,False,True,True,False,0,2,0,2,5
1,alfa-romero,False,True,True,False,False,True,True,False,0,2,0,2,5
2,alfa-romero,False,True,True,False,False,True,True,False,2,2,5,3,5
3,audi,False,True,True,False,True,False,True,False,3,1,3,2,5
4,audi,False,True,True,False,True,False,True,False,3,0,3,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,False,True,True,False,True,False,True,False,3,2,3,2,5
201,volvo,False,True,False,True,True,False,True,False,3,2,3,2,5
202,volvo,False,True,True,False,True,False,True,False,3,2,5,3,5
203,volvo,True,False,False,True,True,False,True,False,3,2,3,3,3
204,volvo,False,True,False,True,True,False,True,False,3,2,3,2,5

In [63]:
# Convert all Boolean columns to numerical values
cars = cars.applymap(lambda x: int(x) if isinstance(x, bool) else x)
cars.head()

C:\Users\Jtex\AppData\Local\Temp\ipykernel_19128\104805308.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  cars = cars.applymap(lambda x: int(x) if isinstance(x, bool) else x)

,carcompany,diesel,gas,std,turbo,four,two,front,rear,carbody,drivewheel,enginetype,cylindernumber,fuelsystem
0,alfa-romero,0,1,1,0,0,1,1,0,0,2,0,2,5
1,alfa-romero,0,1,1,0,0,1,1,0,0,2,0,2,5
2,alfa-romero,0,1,1,0,0,1,1,0,2,2,5,3,5
3,audi,0,1,1,0,1,0,1,0,3,1,3,2,5
4,audi,0,1,1,0,1,0,1,0,3,0,3,1,5

In [ ]:

# Step 3: Data Preparation:

In [64]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder

In [65]:
ohe = OneHotEncoder(sparse_output=False)

In [66]:
ode = OrdinalEncoder()

In [67]:
from sklearn.compose import make_column_transformer

In [68]:
# Create the column transformer
ct = make_column_transformer(
    (ohe, ['carcompany']),
    
    remainder='passthrough'
)

In [69]:
ct.set_output(transform="pandas")

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder',
                                 OneHotEncoder(sparse_output=False),
                                 ['carcompany'])])

In [70]:
cars_pandas = ct.fit_transform(cars)

In [71]:
cars_pandas

,onehotencoder__carcompany_alfa-romero,onehotencoder__carcompany_audi,onehotencoder__carcompany_bmw,onehotencoder__carcompany_buick,onehotencoder__carcompany_chevrolet,onehotencoder__carcompany_dodge,onehotencoder__carcompany_honda,onehotencoder__carcompany_isuzu,onehotencoder__carcompany_jaguar,onehotencoder__carcompany_mazda,...,remainder__turbo,remainder__four,remainder__two,remainder__front,remainder__rear,remainder__carbody,remainder__drivewheel,remainder__enginetype,remainder__cylindernumber,remainder__fuelsystem
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,1,0,0,2,0,2,5
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,1,0,0,2,0,2,5
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,1,0,2,2,5,3,5
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,1,0,3,1,3,2,5
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,1,0,3,0,3,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,1,0,3,2,3,2,5
201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,0,1,0,3,2,3,2,5
202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,1,0,3,2,5,3,5
203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,0,1,0,3,2,3,3,3
204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,0,1,0,3,2,3,2,5